.footer{
    padding:1% 2%;
    position: fixed;
    bottom: 0;
    height: 65px;
    width:97%;
    background: rgb(35, 35, 35);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    z-index: 10001;
}

.footer_left{
    display: flex;
    align-items: center;
    color: rgb(210, 199, 255);
    flex: 0.3;
    width: 300px;
}

.footer_center{
    flex: 0.4;
    padding:0px 100px;
    display: flex;
    align-items: center;
    max-width: 280px;
    justify-content: space-between;
}

.footer_right{
    color: rgb(233, 199, 255);
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_right * .MuiSlider-root{
    color: rgb(109, 100, 135);
    max-width: 200px;
}

.footer_albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_white, .footer_purple{
    transform: scale(1.1);
}

.footer_white:hover, .footer_purple:hover{
    transition: transform 0.15s ease-in-out;
    transform: scale(1.4) !important ;
}

.footer_songInfo h4{
    font-size: 16px;
}
.footer_songInfo p{
    font-size: 12px;
}

.footer_purple{
    color: rgb(158, 47, 232);
}